# Backend API URL (NestJS server)
NEXT_PUBLIC_API_URL=http://localhost:3000/v1

# Port for local Next.js client
PORT=3001

# Optional Integrations
OPENAI_API_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
